data_dir = './data'
thumb_dir = None # custom thumb dir instead of data_dir + "/thumbnail" (optional)
dry_run = True # set this to False to let sdkdd operate on the database and move files, for realsies. running a dry run first before doing this is highly recommended on production instances.
# database info
database_host = 'localhost'
database_dbname = ''
database_user = ''
database_password = ''

ignore_temp_files = True # ignore .temp files
fix_extensions = True # scan files with libmagic to replace existing extensions with (potentially) more accurate ones.
fix_jpe = True # replace .jpe extensions with .jpg

scan_files = True
scan_attachments = True
scan_inline = True

# BAN url prefix (for varnish purging and the like) (optional)
# ban_url = 'http://10.0.0.1:8313'
ban_url = None 

processes = None # number of concurrent migration jobs to run. leave blank to scale by cpu core count