astroid==2.8.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
click-default-group==1.2.2
decorator==5.1.0
idna==3.2
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.4.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
psycopg2-pool==1.1
py==1.10.0
pylint==2.11.1
python-magic==0.4.24
requests==2.26.0
retry==0.9.2
soupsieve==2.3.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.12.1
